.button{
    -fx-background-color: #a9360c;
    -fx-text-fill: white;
    -fx-border-color:black;
    -fx-border-radius: 30;
    -fx-background-radius:30;
}
.button:hover{
    -fx-background-color: #ffb61d;
}
.table-view{
    -fx-background-color: #fad88d;
}
.table-view .table-cell{
    -fx-background-color: #da442c;
    -fx-text-fill: white;
    -fx-border-color: black;
    -fx-font-size: 15px;
}

.table-view .column-header .label {
    -fx-background-color: #6c0505;
    -fx-text-fill: white;
    -fx-border-color: black;
}